body,
div,
p,
ul,
li,
ol,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
span,
i,
input,
a,
button,
select,
table,
tr,
th,
td,
label,
textarea {
  padding: 0;
  margin: 0;
}
img {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
img {
  border: 0 none;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
body,
button {
  font-size: 14px;
  font-family: "微软雅黑";
}
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
html,
body {
  font-size: 100px;
}
.main {
  position: relative;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100%;
  overflow: hidden;
}
/* 装饰 */
.decorates .snow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/snow.png) no-repeat;
  background-size: 100%;
  z-index: 4;
}
.decorates .bg1 {
  position: absolute;
  top: 0;
  left: -29.25925926%;
  width: 29.25925926%;
  height: 100%;
  background: url(../images/bg1.png) no-repeat;
  background-size: 100%;
}
.decorates .bg1_animation {
  -webkit-animation: bg1 8s linear infinite;
  animation: bg1 8s linear infinite;
}
.decorates .bg2 {
  position: absolute;
  top: 0;
  left: -17.59259259%;
  width: 17.59259259%;
  height: 100%;
  background: url(../images/bg2.png) no-repeat;
  background-size: 100%;
  z-index: 3;
}
.decorates .bg1_animation {
  -webkit-animation: bg1 8s 1s linear infinite;
  animation: bg1 8s 1s linear infinite;
}
.decorates .tree {
  position: absolute;
  top: 8.45rem;
  left: 1.85185185%;
  width: 18.7962963%;
  height: 1.38rem;
  background: url(../images/tree1.png) no-repeat;
  background-size: 100%;
  transform-origin: left center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.4s linear forwards;
  animation: showTree 0.5s 2.4s linear forwards;
}
.decorates .tree1,
.decorates .tree2,
.decorates .tree3 {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.decorates .tree1 img,
.decorates .tree2 img,
.decorates .tree3 img {
  display: block;
  width: 100%;
  height: 100%;
}
.decorates .tree1 {
  left: 6.48148148%;
  top: 0.31rem;
  width: 6.94444444%;
  -webkit-animation: showTree 0.5s 2.4s linear forwards;
  animation: showTree 0.5s 2.4s linear forwards;
}
.decorates .tree2 {
  left: 5.55555556%;
  top: 0.61rem;
  width: 9.72222222%;
  -webkit-animation: showTree 0.5s 2.2s linear forwards;
  animation: showTree 0.5s 2.2s linear forwards;
}
.decorates .tree3 {
  left: 8.05555556%;
  top: 16.86rem;
  width: 14.72222222%;
  -webkit-animation: showTree 0.5s 2s linear forwards;
  animation: showTree 0.5s 2s linear forwards;
}
.decorates .sd {
  position: absolute;
  top: 10.29rem;
  left: 0;
  width: 18.61111111%;
  height: 3.31rem;
  background: url(../images/sd.png) no-repeat;
  background-size: 100%;
  z-index: 4;
  transform-origin: left center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showSd 0.5s 2.6s linear forwards;
  animation: showSd 0.5s 2.6s linear forwards;
}
.control {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  transform-origin: right bottom;
  -webkit-animation: showTree 0.5s 2s linear forwards;
  animation: showTree 0.5s 2s linear forwards;
}
.control .begin-btn {
  position: absolute;
  bottom: 5.43rem;
  right: 3.98148148%;
  width: 7.77777778%;
  height: 0.9rem;
  background: url(../images/gameE.png) no-repeat;
  background-size: 100%;
}
.control .begin-btn.pause {
  background: url(../images/gameS.png) no-repeat;
  background-size: 100%;
}
.control .fs {
  position: absolute;
  bottom: 3.72rem;
  right: 3.98148148%;
  width: 7.77777778%;
  height: 1.37rem;
  background: url(../images/fs.png) no-repeat;
  background-size: 100%;
}
.control .num {
  position: absolute;
  bottom: 0.64rem;
  right: 4.07407407%;
  width: 19.25925926%;
  height: 0.84rem;
  font-size: 0.74rem;
  color: #2cc6a1;
  font-weight: bold;
  line-height: 0.84rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: right top;
}
.play {
  position: absolute;
  bottom: 0.3rem;
  right: 2.40740741%;
  width: 10.37037037%;
  height: 1.12rem;
  background: url(../images/play.png) no-repeat;
  background-size: 100%;
  z-index: 99;
}
@-webkit-keyframes showTree {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes showTree {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes showSd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  40% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes showSd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  40% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes bg1 {
  0% {
    left: 0;
  }
  25% {
    left: -1.5%;
  }
  50% {
    left: 0;
  }
  75% {
    left: -1%;
  }
  100% {
    left: 0;
  }
}
@keyframes bg1 {
  0% {
    left: 0;
  }
  25% {
    left: -1.5%;
  }
  50% {
    left: 0;
  }
  75% {
    left: -1%;
  }
  100% {
    left: 0;
  }
}
/* 蛇 s */
.snake {
  display: none;
}
.snake li {
  position: absolute;
  top: -0.62rem;
  left: 0;
  width: 5.74074074%;
  height: 0.62rem;
  background: url(../images/body.png) no-repeat;
  background-size: 100% 100%;
  z-index: 99;
}
.snake li:first-child {
  background: url(../images/snakeH.png) no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* 蛇 e */
.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 17.31481481%;
  height: 4.97rem;
  background: url(../images/logo.png) no-repeat;
  background-size: 100%;
  -webkit-animation: showLogo 1s forwards;
  animation: showLogo 1s forwards;
}
@-webkit-keyframes showLogo {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes showLogo {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.btns button {
  position: absolute;
  width: 10.37037037%;
  height: 0.86rem;
  line-height: 0.5rem;
  background: #fff;
  border: 0 none;
  background: url(../images/btn.png) no-repeat;
  background-size: 100%;
  z-index: 999;
}
.btns .top {
  top: 1.46rem;
  left: 16.2037037%;
}
.btns .left {
  top: 2.6rem;
  left: 6.48148148%;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.btns .bottom {
  top: 3.73rem;
  left: 16.2037037%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btns .right {
  top: 2.6rem;
  left: 25.92592593%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.zhongzi span {
  position: absolute;
  top: 5.53rem;
  left: 30%;
  width: 14.62962963%;
  height: 1.38rem;
  background: url(../images/0.png) no-repeat;
  background-size: 100%;
  z-index: 19;
}
/* 游戏结束 */
.overSec {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#99000000', endColorstr='#99000000');
  background: rgba(0, 0, 0, 0.6);
}
.overSec .overSec-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overSec .overSec-btns {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 69.72222222%;
  height: 8.93rem;
}
.overSec .overSec-btns .overSec-btns-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 71.84594954%;
  height: 8.93rem;
  background: url(../images/overbg.png) no-repeat;
  background-size: 100%;
}
.overSec .overSec-btns a {
  display: block;
  width: 28.41965471%;
  height: 1.74rem;
  margin-left: -60%;
  opacity: 0;
}
.overSec .overSec-btns a.return {
  background: url(../images/r.png) no-repeat;
  background-size: 100%;
  margin-top: 2rem;
  -webkit-animation: showOverSecBtns 0.3s forwards;
  animation: showOverSecBtns 0.3s forwards;
}
.overSec .overSec-btns a.again {
  background: url(../images/a.png) no-repeat;
  background-size: 100%;
  -webkit-animation: showOverSecBtns 0.3s 0.2s forwards;
  animation: showOverSecBtns 0.3s 0.2s forwards;
}
.overSec .overSec-btns a.share {
  background: url(../images/f.png) no-repeat;
  background-size: 100%;
  -webkit-animation: showOverSecBtns 0.3s 0.4s forwards;
  animation: showOverSecBtns 0.3s 0.4s forwards;
}
.overSec .overSec-btns .fsNum {
  position: absolute;
  top: 5.2rem;
  left: 23%;
  width: 24.53703704%;
  height: 1.26rem;
  font-size: 0.84rem;
  color: #fff;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: right center;
}
.share-sec {
  display: none;
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/share.png) right top no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes showOverSecBtns {
  0% {
    margin-left: -60%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes showOverSecBtns {
  0% {
    margin-left: -60%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
/* 游戏开始页面 */
.gameStart {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(../images/gameStart.jpg) no-repeat;
  background-size: 100%;
}
.login-decorations .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26.11111111%;
  height: 6.66rem;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-animation: showBg 2s forwards;
  animation: showBg 2s forwards;
}
.login-decorations .bg1 .shan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/login1.png) no-repeat;
  background-size: 100%;
}
.login-decorations .bg1 .dian {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.11347518%;
  height: 0.64rem;
  background: url(../images/dian2.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2s linear forwards;
  animation: showTree 0.5s 2s linear forwards;
}
.login-decorations .bg1 .bz {
  position: absolute;
  top: 0.8rem;
  left: 32.62411348%;
  width: 51.41843972%;
  height: 2.63rem;
  background: url(../images/bangzi.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.1s linear forwards;
  animation: showTree 0.5s 2.1s linear forwards;
}
.login-decorations .bg1 .dian1 {
  position: absolute;
  top: 2.98rem;
  left: 0;
  width: 29.78723404%;
  height: 0.83rem;
  background: url(../images/dian3.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.2s linear forwards;
  animation: showTree 0.5s 2.2s linear forwards;
}
.login-decorations .bg1 .sdlr {
  position: absolute;
  top: 2.5rem;
  left: 14%;
  width: 113.48973607%;
  height: 4.24rem;
  background: url(../images/sdlr.png) no-repeat;
  background-size: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.3s linear forwards;
  animation: showTree 0.5s 2.3s linear forwards;
}
.login-decorations .bg2 {
  position: absolute;
  top: 5.04rem;
  left: 0;
  width: 29.25925926%;
  height: 9.06rem;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-animation: showBg 2s 0.5s forwards;
  animation: showBg 2s 0.5s forwards;
}
.login-decorations .bg2 .shan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/login2.png) no-repeat;
  background-size: 100%;
  z-index: 2;
}
.login-decorations .bg2 .dian {
  position: absolute;
  top: 5.15rem;
  left: 6.64556962%;
  width: 41.7721519%;
  height: 1.15rem;
  background: url(../images/dian1.png) no-repeat;
  background-size: 100%;
  z-index: 3;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.3s linear forwards;
  animation: showTree 0.5s 2.3s linear forwards;
}
.login-decorations .bg2 .tree {
  position: absolute;
  top: 7.42rem;
  left: 0;
  width: 71.51898734%;
  height: 1.65rem;
  background: url(../images/login2_icon.png) no-repeat;
  background-size: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.5s linear forwards;
  animation: showTree 0.5s 2.5s linear forwards;
}
.login-decorations .bg3 {
  position: absolute;
  top: 11.27rem;
  left: 0;
  width: 31.57407407%;
  height: 7.93rem;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-animation: showBg 2s 1s forwards;
  animation: showBg 2s 1s forwards;
}
.login-decorations .bg3 .shan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/login3.png) no-repeat;
  background-size: 100%;
  z-index: 3;
}
.login-decorations .bg3 .dian {
  position: absolute;
  top: 2.71rem;
  left: 0;
  width: 38.70967742%;
  height: 1.46rem;
  background: url(../images/dian4.png) no-repeat;
  background-size: 100%;
  z-index: 4;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.7s linear forwards;
  animation: showTree 0.5s 2.7s linear forwards;
}
.login-decorations .bg3 .dian1 {
  position: absolute;
  top: 5.62rem;
  left: 25.51319648%;
  width: 16.42228739%;
  height: 0.84rem;
  background: url(../images/dian5.png) no-repeat;
  background-size: 100%;
  z-index: 4;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.8s linear forwards;
  animation: showTree 0.5s 2.8s linear forwards;
}
.login-decorations .bg3 .lu {
  position: absolute;
  top: 3.13rem;
  left: 43.98826979%;
  width: 94.42815249%;
  height: 3.33rem;
  background: url(../images/lu.png) no-repeat;
  background-size: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 2.6s linear forwards;
  animation: showTree 0.5s 2.6s linear forwards;
}
.gameStart-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 52.77777778%;
  height: 11.8rem;
}
.gameStart-center .lan {
  position: absolute;
  top: 0;
  left: 25.26315789%;
  width: 66.84210526%;
  height: 3.99rem;
  background: url(../images/lan.png) no-repeat;
  background-size: 100%;
  z-index: 4;
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: showTitle 2s forwards;
  animation: showTitle 2s forwards;
  transform-origin: bottom left;
}
.gameStart-center .mei {
  position: absolute;
  top: 3.07rem;
  left: 23.85964912%;
  width: 60.35087719%;
  height: 4.14rem;
  background: url(../images/mei.png) no-repeat;
  background-size: 100%;
  z-index: 3;
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: showTitle 2s 0.2s forwards;
  animation: showTitle 2s 0.2s forwards;
  transform-origin: bottom left;
}
.gameStart-center .hi {
  position: absolute;
  top: 5.55rem;
  left: 35.26315789%;
  width: 66.14035088%;
  height: 3.13rem;
  background: url(../images/hi.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: showTitle 2s 0.4s forwards;
  animation: showTitle 2s 0.4s forwards;
  transform-origin: bottom left;
}
.gameStart-center .chi {
  position: absolute;
  top: 7.34rem;
  left: 23.15789474%;
  width: 61.05263158%;
  height: 4.12rem;
  background: url(../images/chi.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: showTitle 2s 0.6s forwards;
  animation: showTitle 2s 0.6s forwards;
  transform-origin: bottom left;
}
.gameStart-center .begin-snake {
  position: absolute;
  top: 8.05rem;
  left: 68.07017544%;
  width: 68.42105263%;
  height: 3.73rem;
  background: url(../images/snake.png) no-repeat;
  background-size: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 1s forwards;
  animation: showTree 0.5s 1s forwards;
}
.gameStart-center .comeOn {
  position: absolute;
  top: 3.9rem;
  left: 0;
  width: 27.54385965%;
  height: 4.21rem;
  background: url(../images/begin.png) no-repeat;
  background-size: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: showTree 0.5s 0.8s forwards;
  animation: showTree 0.5s 0.8s forwards;
}
.qiu-decorations {
  opacity: 0;
  -webkit-animation: show 1.5s 1s forwards;
  animation: show 1.5s 1s forwards;
}
.qiu-decorations .lan-qiu {
  -webkit-transform: scale(0);
  transform: scale(0);
  background: url(../images/qiu1.png) no-repeat;
  background-size: 100% 100%;
}
.qiu-decorations .red-qiu {
  -webkit-transform: scale(0);
  transform: scale(0);
  background: url(../images/qiu2.png) no-repeat;
  background-size: 100% 100%;
}
.qiu-decorations .yellow-qiu {
  -webkit-transform: scale(0);
  transform: scale(0);
  background: url(../images/qiu3.png) no-repeat;
  background-size: 100% 100%;
}
.qiu-decorations .qiu1 {
  position: absolute;
  top: 5.65rem;
  left: 78.7962963%;
  width: 5.83333333%;
  height: 0.64rem;
  -webkit-animation: qiu 1.5s infinite;
  animation: qiu 1.5s infinite;
}
.qiu-decorations .qiu2 {
  position: absolute;
  top: 6.86rem;
  left: 70.55555556%;
  width: 3.05555556%;
  height: 0.33rem;
  -webkit-animation: qiu 1.2s infinite;
  animation: qiu 1.2s infinite;
}
.qiu-decorations .qiu3 {
  position: absolute;
  top: 3.21rem;
  left: 56.75925926%;
  width: 1.75925926%;
  height: 0.19rem;
  -webkit-animation: qiu 1s infinite;
  animation: qiu 1s infinite;
}
.qiu-decorations .qiu4 {
  position: absolute;
  top: 0.95rem;
  left: 40.18518519%;
  width: 3.05555556%;
  height: 0.33rem;
  -webkit-animation: qiu 0.8s infinite;
  animation: qiu 0.8s infinite;
}
.qiu-decorations .qiu5 {
  position: absolute;
  top: 2.71rem;
  left: 39.16666667%;
  width: 2.12962963%;
  height: 0.23rem;
  -webkit-animation: qiu 1.1s infinite;
  animation: qiu 1.1s infinite;
}
.qiu-decorations .qiu6 {
  position: absolute;
  top: 13.94rem;
  left: 36.38888889%;
  width: 1.85185185%;
  height: 0.2rem;
  -webkit-animation: qiu 1.2s infinite;
  animation: qiu 1.2s infinite;
}
.qiu-decorations .qiu7 {
  position: absolute;
  top: 1.49rem;
  left: 47.77777778%;
  width: 1.85185185%;
  height: 0.2rem;
  -webkit-animation: qiu 0.9s infinite;
  animation: qiu 0.9s infinite;
}
.qiu-decorations .qiu8 {
  position: absolute;
  top: 1.82rem;
  left: 45.37037037%;
  width: 3.61111111%;
  height: 0.39rem;
  -webkit-animation: qiu 1.3s infinite;
  animation: qiu 1.3s infinite;
}
.qiu-decorations .qiu9 {
  position: absolute;
  top: 10.84rem;
  left: 67.12962963%;
  width: 2.5%;
  height: 0.27rem;
  -webkit-animation: qiu 0.9s infinite;
  animation: qiu 0.9s infinite;
}
.qiu-decorations .qiu10 {
  position: absolute;
  top: 11.49rem;
  left: 76.11111111%;
  width: 1.11111111%;
  height: 0.12rem;
  -webkit-animation: qiu 1.5s infinite;
  animation: qiu 1.5s infinite;
}
.qiu-decorations .qiu11 {
  position: absolute;
  top: 15.61rem;
  left: 84.81481481%;
  width: 2.5%;
  height: 0.27rem;
  -webkit-animation: qiu 1s infinite;
  animation: qiu 1s infinite;
}
.qiu-decorations .qiu12 {
  position: absolute;
  top: 16.68rem;
  left: 57.87037037%;
  width: 3.61111111%;
  height: 0.39rem;
  -webkit-animation: qiu 0.8s infinite;
  animation: qiu 0.8s infinite;
}
.qiu-decorations .qiu13 {
  position: absolute;
  top: 17.28rem;
  left: 55.37037037%;
  width: 1.94444444%;
  height: 0.21rem;
  -webkit-animation: qiu 1.2s infinite;
  animation: qiu 1.2s infinite;
}
@-webkit-keyframes qiu {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes qiu {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes showBg {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showBg {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes showTitle {
  0% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
  10% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 0) rotateY(60deg);
    transform: translate(0, 0) rotateY(60deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotateY(10deg);
    transform: translate(0, 0) rotateY(10deg);
  }
  40% {
    -webkit-transform: translate(0, 0) rotateY(30deg);
    transform: translate(0, 0) rotateY(30deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotateY(6deg);
    transform: translate(0, 0) rotateY(6deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotateY(10deg);
    transform: translate(0, 0) rotateY(10deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotateY(4deg);
    transform: translate(0, 0) rotateY(4deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotateY(6deg);
    transform: translate(0, 0) rotateY(6deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotateY(2deg);
    transform: translate(0, 0) rotateY(2deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
    transform: translate(0, 0) rotateY(0deg);
  }
}
@keyframes showTitle {
  0% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
  10% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 0) rotateY(60deg);
    transform: translate(0, 0) rotateY(60deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotateY(10deg);
    transform: translate(0, 0) rotateY(10deg);
  }
  40% {
    -webkit-transform: translate(0, 0) rotateY(30deg);
    transform: translate(0, 0) rotateY(30deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotateY(6deg);
    transform: translate(0, 0) rotateY(6deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotateY(10deg);
    transform: translate(0, 0) rotateY(10deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotateY(4deg);
    transform: translate(0, 0) rotateY(4deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotateY(6deg);
    transform: translate(0, 0) rotateY(6deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotateY(2deg);
    transform: translate(0, 0) rotateY(2deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
    transform: translate(0, 0) rotateY(0deg);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showSnake {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes showSnake {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
